.story-container {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    .story-scroll {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 10px;
        padding: 10px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }

        .story-create,
        .story-card {
            min-width: 120px;
            height: 200px;
            border-radius: 15px;
            position: relative;
            cursor: pointer;
            flex-shrink: 0;
            overflow: hidden;
            transition: transform 0.3s ease;
            .story-image-placeholder {
                width: 100%;
                height: 200px;
                background-color: #ccc;
            }
            .create-button {
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                background-color: blue;
                border: none;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                font-size: 20px;
                list-style: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .story-create:hover,
        .story-card:hover {
            transform: scale(1.05);
        }
        .story-card {
            .story-img {
                width: 120px;
                height: 100%;
                object-fit: cover;
            }
            .story-avatar {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 2px solid white;
                position: absolute;
                top: 8px;
                left: 8px;
            }
            .story-name {
                position: absolute;
                bottom: 8px;
                left: 8px;
                color: white;
                font-weight: bold;
                text-shadow: 0 0 5px black;
            }
        }

    }
    .scroll-btn {
        background: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        font-size: 20px;
        padding: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        z-index: 2;
        &:hover {
            background-color: rgba(97, 96, 96, 0.5);
        }
    }

    .scroll-btn.left {
        position: absolute;
        left: 0;
    }

    .scroll-btn.right {
        position: absolute;
        right: 0;
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

